header {
  display: flex;
  background-color: rgb(34, 32, 32);
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid rgb(190, 190, 19) img;
}
header nav ul {
  display: flex;
  list-style-type: none;
  padding-right: 100px;
}
header nav ul li {
  margin: 5px;
}
header nav ul li a {
  text-decoration: none;
  color: rgb(190, 190, 19);
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 10px;
}
header nav ul li a:hover {
  color: purple;
  margin: 15px;
  transition: 0.5s;
}
header div {
  display: flex;
  align-items: center;
  padding-right: 80px;
}
header div a {
  color: rgb(190, 190, 19);
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
header div a:hover {
  color: purple;
  margin: 15px;
  transition: 0.5s;
}
header div img {
  padding-left: 20px;
  width: 60px;
}
header .logo {
  width: 300px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

* p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
}

* {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

*:before,
*:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

main section h1 {
  color: rgb(195, 187, 34);
  text-decoration: underline;
  text-align: center;
  font-size: 50px;
  padding-top: 10px;
  padding-bottom: 20px;
}
main section h2 {
  color: white;
  font-size: 25px;
  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  text-align: center;
}
main section h4 {
  color: rgb(195, 187, 34);
  font-family: Arial, Helvetica, sans-serif;
}
main section .subtitulos p {
  color: rgb(195, 187, 34);
  font-family: Arial, Helvetica, sans-serif;
}
main section p {
  padding-bottom: 10px;
  padding-top: 10px;
}
main section ol li {
  color: beige;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
}
main section ul li {
  color: beige;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
}

a .logows {
  position: fixed;
  right: 35px;
  bottom: 35px;
  width: 50px;
  height: 50px;
}

footer {
  background-color: rgb(34, 32, 32);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
}
footer p {
  font-family: Arial, Helvetica, sans-serif;
  color: beige;
  padding: 10px;
}
footer a {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(190, 190, 19);
  text-decoration: none;
}
footer a:hover {
  color: purple;
}

main h3 {
  color: rgb(195, 187, 34);
  font-family: Arial, Helvetica, sans-serif;
  margin: 30px;
  text-align: center;
  font-size: 40px;
  padding: 20px;
}
main form {
  text-align: center;
}
main form label {
  display: block;
  color: rgb(190, 190, 19);
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
main form input {
  border-color: blue;
  border: 0px;
  padding: 5px;
}
main form input:focus {
  background-color: grey;
}
main section .contacto {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
main section p {
  margin-top: 20px;
}

.enlace-amarillo {
  display: block;
  text-align: center;
  background-color: rgb(190, 190, 19);
  border-radius: 5px;
  width: 100px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 15px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.enlace-amarillo:hover {
  background-color: blue;
}

@media screen and (max-width: 768px) {
  header div a {
    display: none;
  }
  .tituloimagen .faseroja1 {
    display: none;
  }
  .tituloimagen .faseroja2 {
    display: none;
  }
  .tituloimagen .faseroja3 {
    display: none;
  }
  .gridcontainer .grid-item1 {
    display: none;
  }
  .gridcontainer .grid-item2 {
    display: none;
  }
  .gridcontainer .grid-item3 {
    display: none;
  }
  .tituloimagen .faseroja1 {
    display: none;
  }
  .tituloimagen .faseroja2 {
    display: none;
  }
  .tituloimagen .faseroja3 {
    display: none;
  }
}
@media screen and (max-width: 1900px) {
  .grid-item1 div .decoracion1 {
    display: none;
  }
}
@media screen and (max-width: 1291px) {
  nav {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
